<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card *ngFor="let course of courses">
        <ion-card-header class="ion-no-padding">
            <ion-img [src]="course.imgUrl"></ion-img>
            <ion-card-subtitle>
                {{course.category | uppercase}}
            </ion-card-subtitle>
            <ion-card-title> {{course.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{course.description}}
        </ion-card-content>
    </ion-card>
</ion-content>
