<ion-header *ngIf="isPhone">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col sizeMd="12">
                <ion-item>
                    <h1 class="pageHeader">{{course.title}}</h1>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col sizeMd="5">

                <!--        Change course content representation-->
                <ion-card class="courseCard">
                    <ion-img [src]="course.imgUrl"></ion-img>
                    <ion-card-header class="ion-no-padding">
                        <ion-card-title> {{course.title}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <div>{{course.description}}</div>
                        <ion-card-subtitle class="ion-text-center">
                            {{course.category | uppercase}}
                        </ion-card-subtitle>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
