.ios, .md {
  .courseCard {
    border-radius: 5px;
    -webkit-box-shadow: 3px 0px 38px 1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 3px 0px 38px 1px rgba(0, 0, 0, 0.35);
    box-shadow: 3px 0px 38px 1px rgba(0, 0, 0, 0.35);

    ion-img {
      margin-bottom: 10px;
    }

    ion-card-title {
      margin: 20px 0 10px 10px;
      font-weight: bold;
    }

    ion-card-content div {
      margin-top: 15px;
      margin-bottom: 5px;
      font-size: 1.1em;
    }

    ion-card-subtitle {
      display: inline;
      font-weight: bold;
      color: #ffffff;
      font-size: 0.75em;
      background-color: #9F9F9F;
      border-radius: 5px;
      padding: 5px;
      margin-top: 10px;
    }

    ion-img {
      max-height: 560px;
      overflow: hidden;
    }
  }

  .courseCard:hover {
    transform: translateY(-3px);
  }
}
