<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-content>
                <div *ngIf="!isPhone">
                    <ion-list id="inbox-desktop-list">
                        <ion-list-header>
                            <ion-toolbar>
                                <ul class="menu-actions">
                                    <li>
                                        <ion-button title="Go to courses page" class="ion-align-items-start"
                                                    routerLink="">
                                            <ion-icon name="home"
                                                      size="large"
                                                      color="dark">
                                            </ion-icon>
                                        </ion-button>
                                    </li>
                                    <li>
                                        <!--Add popup with all categories-->
                                        <ion-button title="Categories" class="ion-align-items-start"
                                                    (click)="presentCategories()">
                                            <ion-icon name="apps"
                                                      size="large"
                                                      color="dark"></ion-icon>
                                        </ion-button>
                                    </li>
                                    <li>
                                        <ion-button
                                                title="Search"
                                                class="ion-align-items-start"
                                                (click)="onSearch()">
                                            <!--Add modal window with search capability-->
                                            <ion-icon name="search"
                                                      size="large"
                                                      color="dark"
                                            ></ion-icon>
                                        </ion-button>
                                    </li>
                                    <li>
                                        <ion-button title="My Courses" class="ion-align-items-start"
                                                    [routerLink]="['/cart']">
                                            <ion-icon name="cart"
                                                      size="large"
                                                      color="dark"
                                            ></ion-icon>
                                        </ion-button>
                                    </li>
                                    <li>
                                        <ion-button title="Profile" class="ion-align-items-start">

                                            <ion-icon name="person"
                                                      size="large"
                                                      color="dark"
                                            ></ion-icon>
                                        </ion-button>
                                    </li>
                                </ul>

                                <ul *ngIf="isAuthenticated && gotWritePermission">
                                    <li>
                                        <ion-button title="Add new Course"
                                                    (click)="onCreate()">
                                            <ion-icon name="create"
                                                      size="large"
                                                      color="dark"></ion-icon>
                                        </ion-button>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <ion-button
                                                title="Login"
                                                routerLink="/login"
                                                *ngIf="!isAuthenticated">
                                            <ion-icon
                                                    name="log-in-outline"
                                                    size="large"
                                                    color="dark"
                                            ></ion-icon>
                                        </ion-button>
                                        <ion-button
                                                title="Logout"
                                                *ngIf="isAuthenticated"
                                                (click)="logout()">
                                            <ion-icon
                                                    name="log-out"
                                                    size="large"
                                                    color="dark"
                                            >
                                            </ion-icon>
                                        </ion-button>

                                    </li>
                                </ul>
                            </ion-toolbar>
                        </ion-list-header>
                    </ion-list>
                </div>
                <div *ngIf="isPhone">
                    <ion-list id="inbox-list" class="menu-actions">
                        <ion-list-header class="">
                            <ion-toolbar>
                                <ion-label>Learning Platform</ion-label>
                            </ion-toolbar>
                        </ion-list-header>

                        <ion-menu-toggle autoHide="false">

                            <ion-note>User actions</ion-note>

                            <ion-item
                                    detail="false"
                                    lines="none"
                                    routerLink="/courses"
                            >
                                <!--Add popup with all categories-->
                                <ion-icon name="home"
                                          size="small"
                                >
                                </ion-icon>
                                <ion-label>Courses</ion-label>
                            </ion-item>
                            <ion-item
                                    detail="false"
                                    lines="none"
                            >
                                <!--Add popup with all categories-->
                                <ion-icon name="apps" size="small"></ion-icon>
                                <ion-label>Categories</ion-label>
                            </ion-item>
                            <ion-item
                                    detail="false"
                                    lines="none"
                                    (click)="onSearch()"
                            >
                                <!--Add modal window with search capability-->
                                <ion-icon name="search" size="small"></ion-icon>
                                <ion-label>Search</ion-label>
                            </ion-item>
                            <ion-item
                                    [routerLink]="['/cart']"
                                    detail="false"
                                    lines="none">
                                <ion-icon name="cart" size="small"></ion-icon>
                                <ion-label>
                                    My courses
                                </ion-label>
                            </ion-item>
                            <ion-item
                                    detail="false"
                                    lines="none">
                                <ion-icon name="person" size="small"></ion-icon>
                                <ion-label>Profile</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                    </ion-list>
                    <ion-list class="menu-actions"
                              *ngIf="isAuthenticated && gotWritePermission">
                        <ion-menu-toggle autoHide="false">
                            <ion-note>Author Actions</ion-note>

                            <ion-item
                                    detail="false"
                                    lines="none"
                                    routerLink="/courses/create"
                            >
                                <ion-icon name="create"
                                          size="small"
                                ></ion-icon>
                                <ion-label>Create course</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                    </ion-list>
                </div>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
