.split-pane-md.split-pane-visible > .split-pane-side {
  min-width: 90px;
  max-width: 4%;
  border-right: var(--border);
  border-left: 0;
}

ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list#inbox-desktop-list {
  padding: 60px 0;
}

ion-menu.md ion-list#inbox-list ion-list-header, ion-menu.md ion-note {
  font-size: 22px;
  font-weight: 600;
  padding-left: 10px;

  min-height: 20px;
}
ion-menu.md ion-list ion-menu-toggle ion-item ion-icon {
  margin-right: 5px;
}

ion-menu.md ion-list#inbox-list ion-item:hover {
  border-radius: 15px;
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}


ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-list-header {
  padding-left: 5px;
  padding-right: 5px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

/*desktop version ----*/

ion-menu.md ion-list#inbox-desktop-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}


ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding-bottom: 1rem;
}

ul li:last-of-type {
  padding-bottom: 0.2rem;
}

ion-menu.md ion-list#inbox-desktop-list ion-list-header {
  margin-left: 0;
  padding-left: 0;
}

ion-menu.md ion-list#inbox-desktop-list ion-button {
  min-height: 50px;
}

.loginButton ion-icon {
  font-size: 16px;
}

.menu-actions:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 90%;
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
  padding-top: 10px;
}


