<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Create Your own course</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row
            *ngIf="!isCourseCreated">
      <ion-col
              sizeMd="9"
              offsetMd="1">
        <form #courseCreationForm="ngForm" (ngSubmit)="createCourse(courseCreationForm)">
          <ion-item>
            <ion-label position="floating">Choose the course working title</ion-label>
            <ion-input
                    ngModel
                    name="title"
                    required
                    #titleCtrl="ngModel"
            ></ion-input>
          </ion-item>
          <ion-item
                  *ngIf="!titleCtrl.valid && titleCtrl.touched"
                  lines="none"
          >
            <ion-label>This field should be filled.</ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Add a short course description</ion-label>
            <ion-textarea
                    ngModel
                    name="description"
                    required
                    #descriptionCtrl="ngModel">
            </ion-textarea>
          </ion-item>
          <ion-item
                  *ngIf="!descriptionCtrl.valid && descriptionCtrl.touched"
                  lines="none"
          >
            <ion-label>This field should be filled.</ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Choose the course category</ion-label>
            <ion-input
                    ngModel
                    name="category"
                    required
                    #categoryCtrl="ngModel"
            >
            </ion-input>
          </ion-item>
          <ion-item
                  *ngIf="!categoryCtrl.valid && categoryCtrl.touched"
                  lines="none"
          >
            <ion-label>This field should be filled.</ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Add image URL which will represent your course</ion-label>
            <ion-input
                    ngModel
                    name="imgUrl"
                    required
                    type="url"
                    #urlCtrl="ngModel"
            ></ion-input>
          </ion-item>
          <ion-item
                  *ngIf="!urlCtrl.valid && urlCtrl.touched"
                  lines="none"
          >
            <ion-label>This field should be filled.</ion-label>
          </ion-item>
          <ion-item
                  lines="none">
            <ion-button
                    strong="true"
                    slot="start"
                    shape="round"
                    color="primary"
                    type="submit"
                    [disabled]="!courseCreationForm.valid">
              Done
            </ion-button>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>
    <ion-row
            *ngIf="isCourseCreated">
      <ion-col sizeMd="5">
        <ion-card class="courseCard">
          <div>
            <ion-img [src]="newCourse.imgUrl"></ion-img>
          </div>
        </ion-card>
      </ion-col>
      <ion-col sizeMd="5">
        <ion-card class="courseCard">
          <ion-card-header
                  class="ion-no-padding">
            <ion-card-title>
              {{newCourse.title}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div>{{newCourse.description | slice: 0:80}}</div>
            <ion-card-subtitle class="ion-text-center">
              {{newCourse.category | uppercase}}
            </ion-card-subtitle>
            <div>
              <ion-button
                      shape="round"
                      color="primary"
                      (click)="createCourseModule()">
                Add Course Module
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
